# Multi-Robot SyCLoP Planner Configuration

# Random seed (set to -1 for random, or any positive integer for reproducibility)
# 31, 33 crash
seed: -1

# Decomposition region length
decomposition_region_length: 5

# Path segmentation configuration
segment_timesteps: 30      # Number of timesteps per segment

# MAPF Configuration
mapf:
  method: "cbs"           # Options: "decoupled", "astar", "cbs"
  region_capacity: 2      # Maximum robots per region (vertex/edge)
  max_obstacle_volume_percent: 0.5  # Maximum percentage of obstacle volume in a region before it is considered blocked
